@{
    ViewBag.Title = "Kontakt oss";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Besøksadresse</h3>
<address>
    Græsdal Glass<br />
    Brusdalsvegen 20-22<br />
    6011 Ålesund<br />
    @*<abbr title="Phone">Telefon:</abbr>
    +47 70 14 00 70*@
</address>

<address>
    <strong>Telefon:</strong> +47 70 14 00 70<br />
    <strong>Epost:</strong>   <a href="mailto:Support@example.com">glass@grasdal.no</a><br />
</address>